.cart-items{
    margin: 120px 24px;
}

.cart-items hr{
    height: 4px;
    background-color: #000F08;
    border: none;
}

.cart-items-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 8px;
    padding: 24px 0;
    color: #000F08;
    font-size: 12px;
    font-weight: 600;
}

.cart-items-format{
    font-size: 12px;
    font-weight: 500;
}

.product-thumbnail{
    height: 44px;
    width: 44px;
    border: 1px solid black;
}

.cart-icon-remove{
    width: 16px;
    margin: 0px 32px;
    cursor: pointer;
}

.cart-items-quantity{
    padding: 8px 16px;
    border: 2px solid rgba(0, 15, 8, 0.1);
    background-color: #FFF;
}

.cart-items-down{
    display: flex;
    margin: 32px 0;
}

.cart-items-total{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 16px;
    gap: 24px;
}

.cart-items-total h1{
    font-size: 16px;
}

.cart-items-total-item{
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.cart-items-total-item p{
    font-size: 12px;
}

.cart-items-total button{
    padding: 12px 24px;
    outline: none;
    border: none;
    background-color: #F16B44;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.promocode{
    flex: 1;
    font-size: 12px;
    font-weight: 500;
}

.promocode p{
    color: #000F08;
}

.cart-items-promobox{
    width: 160px;
    margin-top: 16px;
    height: 32px;
    background-color: rgba(0, 15, 8, 0.2);
}

.cart-items-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 10px;
    width: 100px;
    height: 32px;
}

.cart-items-promobox button{
    width: 60px;
    height: 32px;
    font-size: 12px;
    background-color: #FF8D27;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
}

/* Desktop Responsive Query */

@media screen and (min-width: 768px) {

    .cart-items{
        margin: 120px 160px
    }
    
    .cart-items hr{
        height: 4px;
    }
    
    .cart-items-format-main{
        gap: 80px;
        padding: 24px 0;
        font-size: 16px;
    }
    
    .cart-items-format{
        font-size: 16px;
        font-weight: 500;
    }

    .product-thumbnail{
        height: 44px;
        width: 44px;
    }
    
    .cart-icon-remove{
        width: 16px;
        margin: 0px 40px;
    }
    
    .cart-items-quantity{
        padding: 16px 1px;
    }

    .cart-items-down{
        margin: 96px 0;
    }
    
    .cart-items-total{
        margin-right: 200px;
        gap: 40px;
    }

    .cart-items-total h1{
        font-size: 32px;
    }
    
    .cart-items-total-item{
        padding: 16px 0px;
    }

    .cart-items-total-item p{
        font-size: 16px;
    }
    
    .cart-items-total button{
        padding: 24px 48px;
        font-size: 16px;
    }

    .promocode{
        font-size: 16px;
    }
    
    .cart-items-promobox{
        width: 480px;
        margin-top: 16px;
        padding-left: 24px;
        height: 64px;
    }
    
    .cart-items-promobox input{
        font-size: 16px;
        width: 320px;
        height: 48px;
    }
    
    .cart-items-promobox button{
        width: 160px;
        height: 64px;
        font-size: 16px;
    }
}
