.hero{
    height: 80vh;
    background: linear-gradient(180deg, #FF8D27 40%, #FFF );
    display: flex;
}

.hero-left{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
    line-height: 1.1;
}

.hero-left h3{
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
}

.hero-left p{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

.hero-left-subtitle{
    color: #FFEC62 !important;
}

.hero-icon-container{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.hero-icon{
    width: 28px;
}

.firsatlar-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 64px;
    margin-top: 24px;
    background-color: #FFF;
    padding: 8px 16px;
    color: #F16B44;
    font-size: 12px;
    font-weight: 600;
}

.hero-right{
    display: none;
}

/* Desktop Responsive Query */

@media screen and (min-width: 768px) {

    .hero{
        height: 100vh;
        box-shadow: 0px -10px 10px -15px rgba(0, 15, 8, 1) inset;
    }

    .hero-left{
        gap: 16px;
        padding-left: 64px;
        line-height: 1.1;
        justify-content: center;
        align-items: baseline;
    }

    .hero-left h3{
        font-size: 32px;
    }
    
    .hero-left p{
        font-size: 64px;
    }
    
    .hero-icon-container{
        gap: 24px;
        margin-bottom: 48px;
    }
    
    .hero-icon{
        width: 42px;
    }

    .firsatlar-btn-container{
        gap: 24px;
        padding: 24px 48px;
        border-radius: 64px;
        margin-top: 24px;
        font-size: 24px;
        transition: 0.6s;
        cursor: pointer;
    }

    .firsatlar-btn-container:hover{
        box-shadow: inset 400px 0 0 0 #F16B44;
        color: #FFF;
    }

    .hero-right{
        flex: 1;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    
    .hero-right img{
        width: 700px;
    }

}