/* src/CSS/CategoryManagement.css */
.category-management {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.category-management h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.category-management form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.category-management label {
  flex: 1 1 calc(33.333% - 16px);
  font-size: 14px;
  color: #333;
}

.category-management input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 8px;
}

.category-management button {
  padding: 10px 20px;
  background-color: #ff8d27;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-management button:hover {
  background-color: #f16b44;
}

.category-management ul {
  list-style-type: none;
  padding: 0;
}

.category-management li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.category-management li div {
  display: flex;
  gap: 10px;
}

.category-management li button {
  background-color: #ff8d27;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-management li button:hover {
  background-color: #f16b44;
}

@media (max-width: 768px) {
  .category-management label,
  .category-management input[type="text"] {
    flex: 1 1 100%;
  }

  .category-management li {
    flex-direction: column;
    align-items: flex-start;
  }

  .category-management li div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .category-management li button {
    width: 100%;
    margin: 5px 0;
  }
}
