.product{
    border: solid 1px rgba(0, 15, 8, 0.1);
    background-color: #FDFFF7;
    padding: 8px;
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.product img{
    transition: 0.3s;
    margin-bottom: 4px;
}

.product p{
    color: #000F08;
    font-size: 16px;
    font-weight: 800;
    margin: 8px 0px;
    text-align: center;
    margin-bottom: 8px;
}

.product-prices{
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.product-price-new{
    color: #000F08;
    font-size: 16px;
    font-weight: 600;
}

.product-price-old{
    color: #8C8C8C;
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
}

.product-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-button{
    padding: 8px 16px;
    margin: 16px 0px 8px 0px;
    background-color: #FF8D27;
    color: #FFF;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.purchase-button:hover{
    background-color: #FFEC62;
    color: #000F08;
}

/* Desktop Responsive Query */

@media screen and (min-width: 768px) {

    .product{
        padding: 8px;
        border-radius: 16px;
    }
    
    .product:hover{
        box-shadow: 4px 4px 1px 1px rgba(0, 15, 8, 0.1);
    }

    .product img{
        margin-bottom: 8px;
    }
    
    .product img:hover{
        transform: scale(1.05);   
    }

    .product p{
        font-size: 24px;
        margin: 8px 0px;
        margin-bottom: 16px;
    }
    
    .product-prices{
        margin: 0 24px;
    }
    
    .product-price-new{
        font-size: 24px;
    }
    
    .product-price-old{
        font-size: 16px;
    }
    
    .purchase-button{
        padding: 8px 24px;
        margin: 32px 0px 8px 0px;
        border-radius: 8px;
        font-size: 16px;
    }
}