.single-product {
  display: flex;
  flex-direction: column;
  margin: 64px 24px;
}

.single-product-left {
  display: flex;
  gap: 8px;
}

.single-product-main-image {
  background-color: #ff8d27;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.single-product-right {
  margin: 64px 16px;
  display: flex;
  flex-direction: column;
}

.single-product-right h1 {
  color: #000f08;
  font-size: 24px;
  font-weight: 700;
}

.single-product-prices {
  display: flex;
  margin: 32px 0px;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
}

.single-product-price-old {
  color: #8c8c8c;
  text-decoration: line-through;
}

.single-product-price-new {
  color: #000f08;
}

.add-to-cart-counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.cart-adjust-quantity {
  padding: 8px;
  border: 1px solid rgba(0, 15, 8, 0.1);
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  color: #000f08;
}

.add-to-cart-quantity {
  padding: 8px 32px;
  background-color: #fff;
  border: 1px solid rgba(0, 15, 8, 0.1);
  border-radius: 8px;
  font-size: 16px;
  color: #000f08;
}

.add-to-cart {
  padding: 24px 48px;
  font-size: 16px;
  background-color: #ff8d27;
  color: #fff;
  margin-top: 48px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #f16b44;
}

/* Desktop Responsive Query */

@media screen and (min-width: 768px) {
  .single-product {
    margin: 64px 160px;
    flex-direction: row;
  }

  .single-product-left {
    gap: 16px;
  }

  .single-product-main-image {
    width: 600px;
    height: 600px;
    border: 1px solid black;
  }

  .single-product-right {
    margin: 0 72px;
  }

  .single-product-right h1 {
    font-size: 32px;
  }

  .single-product-prices {
    margin: 32px 0px;
    gap: 32px;
    font-size: 24px;
  }

  .add-to-cart-counter {
    width: 50%;
    margin-top: 64px;
  }

  .cart-adjust-quantity {
    padding: 8px;
    font-size: 16px;
  }

  .add-to-cart-quantity {
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 16px;
  }

  .add-to-cart {
    padding: 24px 48px;
    font-size: 16px;
    margin-top: 48px;
    border-radius: 8px;
  }
}
